<app-breadcrumb pageURL="" pageSubText="" icon="supervisor_account" redirectionURL='/staff/add'
  [pageText]="'staffListPage.pageText' | translate" [addButtonText]="'staffListPage.addText' | translate "></app-breadcrumb>
<div class="page-wrapper">
  <div class="custom-card event-list">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
      <strong class="mb-1" *ngIf="dataSource">
        {{ "staffListPage.manageStaffText" | translate }} : {{ dataSource!.filteredData!.length }}
      </strong>
      <div class="form-field w-100 sm-w-auto mb-1">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search" [(ngModel)]="filterValue" (keyup)="applyFilter($event)"
            (keydown)="$event.stopPropagation()" />
        </mat-form-field>
      </div>
    </div>
    <!-- end -->
    <div class="table-wrapper" *ngIf="dataSource">
      <div class="table-scroll">
        <table class="w-100" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "staffListPage.nameText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.nameText' | translate">
              {{ row.name }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "staffListPage.loginIDText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.loginIDText' | translate">
              {{ row.email }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "staffListPage.accessText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.accessText' | translate">
              {{ row.role }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "staffListPage.statusText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.statusText' | translate">
              <mat-slide-toggle (toggleChange)="updateStaffStatus(row.uuid, row.status)" [checked]="row.status">
              </mat-slide-toggle>
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "staffListPage.activationText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.activationText' | translate">
              {{ row.is_active === false ? 'In-Activated' : 'Activated' }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              {{ "staffListPage.actionText" | translate }}
            </th>
            <td mat-cell class="action-button" *matCellDef="let row" [attr.data-label]="'staffListPage.actionText' | translate">
              <div class="d-flex">
                <button class="edit-button" mat-icon-button (click)="editSatff(row.uuid)">
                  <mat-icon>{{ "iconList.editIcon" | translate }}</mat-icon>
                </button>
                <button class="delete-button" mat-icon-button (click)="deleteStaff(row.uuid , row.name)">
                  <mat-icon>{{ "iconList.deleteIcon" | translate }}</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <!-- end -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>

          <tr class="mat-mdc-row" *matNoDataRow>
            <td class="mat-mdc-cell text-center" colspan="6">No Data to Display</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
    </div>
  </div>
  <!-- end -->
</div>
