<div class="breadcrumbs d-flex justify-content-between align-items-center">
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <mat-icon>supervisor_account</mat-icon>
      <span class="ml-1">{{ "staffListPage.pageText" | translate }}</span>
    </div>
  </div>
  <button mat-button class="secondary-btn" [routerLink]="['/staff/add']">
    {{ "staffListPage.addText" | translate }}
  </button>
</div>

<div class="page-wrapper custom-scrollbar">
  <div class="custom-card event-list mt-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <strong *ngIf="dataSource">
        {{ "staffListPage.totalDiscountText" | translate }} : {{ dataSource!.filteredData!.length }}
      </strong>
      <div class="form-field w-25">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Filter" [(ngModel)]="filterValue" (keyup)="applyFilter($event)"
            (keydown)="$event.stopPropagation()" />
        </mat-form-field>
      </div>
    </div>
    <!-- end -->
    <div class="table-wrapper" *ngIf="dataSource">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "staffListPage.nameText" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.nameText' | translate">
            {{ row.name }}
          </mat-cell>
        </ng-container>
        <!-- end -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "staffListPage.emailText" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.emailText' | translate" title="{{ row.email }}">
            <span class="text-truncate">{{ row.email }}</span>
          </mat-cell>
        </ng-container>
        <!-- end -->
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "staffListPage.roleText" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.roleText' | translate">
            {{ row.role }}
          </mat-cell>
        </ng-container>
        <!-- end -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "staffListPage.statusText" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'staffListPage.statusText' | translate">
            <mat-slide-toggle (toggleChange)="updateStaffStatus(row.uuid, row.status)" [checked]="row.status">
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <!-- end -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "staffListPage.actionText" | translate }}
          </mat-header-cell>
          <mat-cell class="action-button" *matCellDef="let row" [attr.data-label]="'staffListPage.actionText' | translate">
            <button class="edit-button" mat-icon-button (click)="editDiscount(row.uuid)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="delete-button" mat-icon-button (click)="deleteStaff(row.uuid , row.name)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- end -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell custom-empty-class" colspan="4">No Data to Display</td>
        </tr>
      </mat-table>
      <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
    </div>
  </div>
  <!-- end -->
</div>
