@import "../../assets/scss/components/responsive";

.page-wrapper {
    height: 100%;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black-shade-200);
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: all 400ms;
    }
    .content-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
        .content-area {
            padding: 90px 24px 60px;
            width: 100%;
            height: 100%;
            background: var(--white-100);
            @include bp(sm-max) {
                padding: 90px 20px 30px;
                min-height: calc(100% - 37px);
                height: auto;
            }
        }
    }
    router-outlet + * {
        width: 100%;
    }
    &.overlay {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}
