@import "../../assets/scss/components/custom-scrollbar";
@import "../../assets/scss/components/responsive";

.page-layout {
    overflow: hidden;
    @include bp(sm-max) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--black-shade-200);
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            transition: all 400ms;
        }
    }
    .content-wrapper {
        overflow: hidden;
        .content-area {
            padding-top: 70px;
            padding-bottom: 100px;
            height: 100%;
            background: var(--white-100);
            @include bp(sm-max) {
                min-height: calc(100% - 37px);
                height: auto;
            }
        }
    }
    router-outlet + * {
        width: 100%;
    }
    &.overlay {
        @include bp(sm-max) {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
