:root {
    --primary: #243141;

    --secondary: #d50055;

    --white: #ffffff;

    --black: #000000;

    --danger: #FF0000;
    --success: #4caf50;
    --warning: #ffc107;
  }

  :root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
  }