<app-breadcrumb pageURL="" pageSubText="" [icon]="'iconList.eventIcon' | translate" redirectionURL='/event/add'
  [pageText]="'eventListPage.pageText' | translate" [addButtonText]="'eventListPage.addText' | translate "></app-breadcrumb>

<div class="page-wrapper">
  <div class="custom-card event-list">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
      <strong class="mb-1" *ngIf="dataSource">
        {{ "eventListPage.totalEventText" | translate }} : {{ dataSource!.filteredData!.length }}
      </strong>
      <div class="form-field w-100 sm-w-auto mb-1">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search" [(ngModel)]="filterValue" (keyup)="applyFilter($event)"
            (keydown)="$event.stopPropagation()" />
        </mat-form-field>
      </div>
    </div>
    <!-- end -->
    <div class="table-wrapper" *ngIf="dataSource">
      <div class="table-scroll">
        <table class="w-100" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.titleText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row; index as i;" [attr.data-label]="'eventListPage.titleText' | translate">
              {{ row.title }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="vertical_banner_image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.photoText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.photoText' | translate">
              <ng-container *ngIf="row.vertical_banner_image">
                <div class="table-img-wrapper d-flex">
                  <img height="50" width="100" alt="event-img" class="" [src]="row.vertical_banner_image" />
                </div>
              </ng-container>
              <ng-container *ngIf="!row.vertical_banner_image && row.horizontal_banner_image">
                <div class="table-img-wrapper d-flex">
                  <img height="50" width="100" alt="event-img" class="" [src]="row.horizontal_banner_image" />
                </div>
              </ng-container>
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.eventDateText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.eventDateText' | translate">
              <p>{{ row.start_date | date: dateFormat }}
                <span *ngIf="row.end_date!==row.start_date"><br> - <br>
                  {{ row.end_date | date: dateFormat }}
                </span>
              </p>
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="event_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.eventTypeText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row; index as i;" [attr.data-label]="'eventListPage.eventTypeText' | translate">
              {{ row.event_type === 'slotwise' ? ('eventListPage.slotsText' | translate) : row.event_type === 'fulltime' ?
              ('eventListPage.fullDayText' | translate) : '-' }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.bookingStatusText" | translate }}
            </th>
            <td class="center" mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.bookingStatusText' | translate">
              <mat-slide-toggle (toggleChange)="updateStatus(row.uuid,row.is_paused)" [checked]="!row.is_paused"
                [disabled]="!row.status && row.is_published"
                [matTooltip]="row.is_paused ? ('eventListPage.pauseText' | translate) : 'eventListPage.allowText' | translate">
              </mat-slide-toggle>
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="is_published">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.statusText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.statusText' | translate">
              {{ row.is_published === false ? ('eventListPage.draftText' | translate) : row.status === true ? ('eventListPage.publishedText'
              | translate) : ('eventListPage.expiredText' | translate) }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.createdDateText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.createdDateText' | translate">
              {{ row.created_at | date:'dd MMM YYYY' }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "eventListPage.modifiedDateText" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.modifiedDateText' | translate">
              {{ row.updated_at | date:'dd MMM YYYY' }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              {{ "eventListPage.actionText" | translate }}
            </th>
            <td mat-cell class="action-button" *matCellDef="let row" [attr.data-label]="'eventListPage.actionText' | translate">
              <div class="d-flex">
                <button class="secondary-text" mat-icon-button (click)="editEvent(row.uuid )" [disabled]="!row.status && row.is_published"
                  [ngClass]="{'disable-btn':!row.status && row.is_published}">
                  <mat-icon>{{ "iconList.editIcon" | translate }}</mat-icon>
                </button>
                <button class="secondary-text" mat-icon-button [disabled]="!row.status && row.is_published"
                  [ngClass]="{'disable-btn':!row.status && row.is_published}" [title]="'eventListPage.previewEventText' | translate"
                  (click)="onPreview(row.uuid, row.title)">
                  <mat-icon>{{ "iconList.viewIcon" | translate }}</mat-icon>
                </button>
                <button class="secondary-text" mat-icon-button [disabled]="!row.status || row.is_published"
                  [ngClass]="{'disabled-btn':!row.status || row.is_published}" (click)="deleteEvent(row.uuid, row.title)">
                  <mat-icon>{{ "iconList.deleteIcon" | translate }}</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <!-- end -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>

          <tr class="mat-mdc-row" *matNoDataRow>
            <td class="mat-mdc-cell text-center" colspan="6">No Data to Display</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
    </div>
  </div>
  <!-- end -->
</div>
