@import "../../../../assets/scss/components/custom-table";
@import "../../../../assets/scss/components/custom-card";
@import "../../../../assets/scss/components/custom-scrollbar";

.event-list {
  padding: 24px;
  @include bp(sm-max) {
    padding: 16px;
  }
}

.page-wrapper {
  padding: 0 24px 30px;
  height: 100%;
  margin: 5px 0;
}

.disabled-btn {
  color: #1010104d !important;
  cursor: no-drop;
}

.mat-row {
  .mat-cell {
    padding: 8px 8px 8px 8px;
    font-weight: 500;
  }
}
