<ng-container *ngIf="staffId">
  <app-breadcrumb pageURL="/staff" [pageSubText]="'staffAddEditViewPage.editStaffText' | translate" icon="supervisor_account"
    redirectionURL='' [pageText]="'staffListPage.pageText' | translate" addButtonText=""></app-breadcrumb>
</ng-container>
<ng-container *ngIf="!staffId">
  <app-breadcrumb pageURL="/staff" [pageSubText]="'staffAddEditViewPage.addStaffText' | translate" icon="supervisor_account"
    redirectionURL='' [pageText]="'staffListPage.pageText' | translate" addButtonText=""></app-breadcrumb>
</ng-container>

<div class="page-wrapper custom-scrollbar">
  <div class="custom-card">

    <div class="big-title mt-2 mb-4">
      {{ (staffId ? "staffAddEditViewPage.editStaffText" : "staffAddEditViewPage.addStaffText" ) | translate }}
    </div>

    <form class="form-main" #staffAddEditForm="ngForm" (ngSubmit)="onSubmit(staffAddEditForm)" novalidate>

      <div class="d-flex flex-wrap">
        <div class="p-8 w-100 xl-w-33 md-w-50">
          <mat-form-field class="w-100 static-error" appearance="outline">
            <mat-label>{{ 'staffAddEditViewPage.nameText' | translate }}</mat-label>
            <input matInput type="text" name="name" ngModel [(ngModel)]="staffAddEditDetails.name" required #name="ngModel"
              [ngClass]="{ 'is-invalid': staffAddEditForm.submitted && name.invalid }" required>
            <div *ngIf="staffAddEditForm.submitted && name.errors" class="error-message">
              <div *ngIf="name.errors['required']">{{ 'staffAddEditViewPage.nameIsRequiredErrorText' | translate }}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="p-8 w-100 xl-w-33 md-w-50">
          <mat-form-field class="w-100 static-error" appearance="outline">
            <mat-label>{{ 'staffAddEditViewPage.emailText' | translate }}</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="staffAddEditDetails.email" required email #email="ngModel"
              [ngClass]="{ 'is-invalid': staffAddEditForm.submitted && email.errors }" [disabled]="staffId && isActive" />
            <div *ngIf="staffAddEditForm.submitted && email.errors" class="error-message">
              <div *ngIf="email.errors['required']">{{ 'staffAddEditViewPage.emailIsRequiredErrorText' | translate }}</div>
              <div *ngIf="email.errors['email']">{{ 'staffAddEditViewPage.invalidEmailErrorText' | translate }}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="p-8 w-100 xl-w-33 md-w-50">
          <mat-form-field class="w-100 static-error" appearance="outline">
            <mat-label>{{ 'staffAddEditViewPage.roleText' | translate }}</mat-label>
            <mat-select name="role" ngModel #role="ngModel" [ngClass]="{ 'is-invalid': staffAddEditForm.submitted && role.invalid }"
              [(ngModel)]="staffAddEditDetails.role" required placeholder="Role">
              <mat-option *ngFor="let staffRole of staffRoleList; let index=index; trackBy: trackByMethod;" [value]="staffRole.uuid">
                {{staffRole.name}}
              </mat-option>
            </mat-select>
            <div *ngIf="staffAddEditForm.submitted && role.errors" class="error-message">
              <div *ngIf="role.errors['required']">{{ 'staffAddEditViewPage.roleIsRequiredErrorText' | translate }}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="p-8 d-flex flex-wrap w-100">
          <button class="primary-btn mr-3" [disabled]="submitted" [ngClass]="{ 'disabled': submitted }">{{ ( submitted ?
            'staffAddEditViewPage.submitText' : 'staffAddEditViewPage.submitText' ) | translate}}</button>
          <button type="button" class="secondary-btn" (click)="redirectToStaffList()">{{ "staffAddEditViewPage.cancelText" | translate
            }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
