<ng-container *ngIf="staffId">
  <app-breadcrumb pageURL="/staff" [pageSubText]="'staffAddEditViewPage.editStaffText' | translate" icon="supervisor_account"
    redirectionURL='' [pageText]="'staffListPage.pageText' | translate" addButtonText=""></app-breadcrumb>
</ng-container>
<ng-container *ngIf="!staffId">
  <app-breadcrumb pageURL="/staff" [pageSubText]="'staffAddEditViewPage.addStaffText' | translate" icon="supervisor_account"
    redirectionURL='' [pageText]="'staffListPage.pageText' | translate" addButtonText=""></app-breadcrumb>
</ng-container>

<div class="form-wrapper h-100 d-flex align-items-center position-relative">
  <div class="form-left">
    <form class="form-main" #staffAddEditForm="ngForm" (ngSubmit)="onSubmit(staffAddEditForm)" novalidate>
      <div class="form-info w-100">
        <div class="big-title mt-2 mb-4">
          {{ (staffId ? "staffAddEditViewPage.editStaffText" : "staffAddEditViewPage.addStaffText" ) | translate }}
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline" class="form-input">
            <mat-label>{{ 'staffAddEditViewPage.nameText' | translate }}</mat-label>
            <input matInput type=" text" class="form-control" name="name" ngModel [(ngModel)]="staffAddEditDetails.name" required
              #name="ngModel" [ngClass]="{ 'is-invalid': staffAddEditForm.submitted && name.invalid }" required>
            <div *ngIf="staffAddEditForm.submitted && name.errors" class="error-message">
              <div *ngIf="name.errors['required']">{{ 'staffAddEditViewPage.nameIsRequiredErrorText' | translate }}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="form-field mb-0">
          <mat-form-field appearance="outline" class="form-input">
            <mat-label>{{ 'staffAddEditViewPage.emailText' | translate }}</mat-label>
            <input matInput type="email" class="form-control" name="email" [(ngModel)]="staffAddEditDetails.email" required email
              #email="ngModel" [ngClass]="{ 'is-invalid': staffAddEditForm.submitted && email.errors }" [disabled]="staffId && isActive" />
            <div *ngIf="staffAddEditForm.submitted && email.errors" class="error-message">
              <div *ngIf="email.errors['required']">{{ 'staffAddEditViewPage.emailIsRequiredErrorText' | translate }}</div>
              <div *ngIf="email.errors['email']">{{ 'staffAddEditViewPage.invalidEmailErrorText' | translate }}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="form-field mb-0">
          <mat-form-field appearance="outline" class="form-input">
            <mat-label>{{ 'staffAddEditViewPage.roleText' | translate }}</mat-label>
            <mat-select name="role" ngModel #role="ngModel" class="form-control"
              [ngClass]="{ 'is-invalid': staffAddEditForm.submitted && role.invalid }" [(ngModel)]="staffAddEditDetails.role" required
              placeholder="Role">
              <mat-option *ngFor="let staffRole of staffRoleList; let index=index; trackBy: trackByMethod;" [value]="staffRole.uuid">
                {{staffRole.name}}
              </mat-option>
            </mat-select>
            <div *ngIf="staffAddEditForm.submitted && role.errors" class="error-message">
              <div *ngIf="role.errors['required']">{{ 'staffAddEditViewPage.roleIsRequiredErrorText' | translate }}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="mt-5">
          <button mat-button class="primary-btn w-50 trans" [disabled]="submitted" [ngClass]="{ 'disabled': submitted }">
            {{ ( submitted ? 'staffAddEditViewPage.submitText' : 'staffAddEditViewPage.submitText' ) | translate}}
          </button>
          <a mat-flat-button class="secondary-btn w-50 trans" (click)="redirectToStaffList()">
            {{ "staffAddEditViewPage.cancelText" | translate }}
          </a>
        </div>
      </div>
    </form>


  </div>
  <!-- end -->
</div>
