@import "../../../../assets/scss/components/forms";
.breadcrumbs {
  position: sticky;
  top: 0;
  color: var(--white);
  background: var(--primary);
  padding: 10px 16px;
  z-index: 1;
  .heading {
    span {
      font-size: 18px;
    }
  }
  a {
    cursor: pointer;
    color: var(--white);
    &:hover {
      color: var(--secondary);
    }
  }
  .secondary-btn {
    line-height: 40px;
    height: 40px;
    &:hover {
      background: var(--white);
      color: var(--primary);
    }
  }
}

.breadcrumb-divider {
  color: var(--secondary);
  margin: 0 8px;
}
