<button class="close-btn border-0 border-radius align-items-center justify-content-center trans" aria-label="close icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<!-- <mat-dialog-content class="text-center custom-scrollbar">
    <div class="heading-content">
        <ng-container *ngIf="dialogData">
            <ng-container *ngIf="dialogData.compData.detail"> {{ dialogData.compData.detail | translate }} </ng-container>
            <strong *ngIf="dialogData.compData.highLightedText"> {{ dialogData.compData.highLightedText }} </strong>
        </ng-container>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="secondary-btn text-uppercase" type="button" mat-dialog-close>
        {{ dialogData.compData.cancelText || 'Cancel' | translate }}
    </button>
    <button class="primary-btn text-uppercase ml-2" type="button" mat-dialog-close>
        {{ dialogData.compData.okText || 'Ok' | translate }}
    </button>
</mat-dialog-actions> -->

<ng-template appDynamicComponent></ng-template>