<app-breadcrumb [pageSubText]="'' | translate" icon="account_circle" redirectionURL='' [pageText]="'profilePage.pageText' | translate"
  addButtonText=""></app-breadcrumb>

<div class="page-wrapper custom-scrollbar">
  <div class="d-flex flex-wrap">
    <div class="p-8 w-100">
      <div class="upload-image">
        <div class="img-box">
          <img rel="preload" src="assets/images/dummy-image.jpg" alt="" />
        </div>
        <div class="upload-btn">
          <input type="file">
          <span class="primary-btn">Upload</span>
        </div>
        <p class="note">Image should be .JPG,.JPEG,.PNG file with max size of 3MB</p>
      </div>
    </div>
    <div class="p-8 w-100 xl-w-33 md-w-50">
      <mat-form-field class="w-100 static-error" appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>
    <div class="p-8 w-100 xl-w-33 md-w-50">
      <mat-form-field class="w-100 static-error" appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>
    <div class="p-8 w-100 xl-w-33 md-w-50">
      <mat-form-field class="w-100 static-error" appearance="outline">
        <mat-label>Outline form field</mat-label>
        <mat-select>
          <mat-option value="opt1">Option 1</mat-option>
          <mat-option value="opt1">Option 1</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="p-8 w-100 md-w-50">
      <mat-form-field class="w-100 static-error" appearance="outline">
        <mat-label>Outline form field</mat-label>
        <mat-select>
          <mat-option value="opt1">Option 1</mat-option>
          <mat-option value="opt1">Option 1</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="p-8 w-100 md-w-50">
      <mat-form-field class="w-100 static-error" appearance="outline">
        <mat-label>Outline form field</mat-label>
        <mat-select>
          <mat-option value="opt1">Option 1</mat-option>
          <mat-option value="opt1">Option 1</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="p-8 w-100">
      <mat-form-field class="w-100 static-error" appearance="outline">
        <mat-label>Outline form field</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="p-8 w-100">
      <mat-checkbox class="mr-3">Check 1</mat-checkbox>
      <mat-checkbox class="mr-3">Check 2</mat-checkbox>
      <mat-checkbox class="mr-3">Check 3</mat-checkbox>
    </div>
    <div class="p-8 w-100">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button class="mr-3" value="1">Option 1</mat-radio-button>
        <mat-radio-button class="mr-3" value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="p-8 d-flex flex-wrap w-100">
      <button class="primary-btn mr-3">Submit</button>
      <button class="secondary-btn">Cancel</button>
    </div>
  </div>
</div>
