<div class="error-contain p-16" fxLayout="row" fxLayoutAlign="center center">
  <div class="p-16 text-center">
    <h2 class="m-0 f-w-500 text-uppercase">
      <span>403</span>
    </h2>
    <h5 class="m-0 m-t-8 m-b-12 f-s-20 f-w-500 text-uppercase">forbidden error</h5>
    <p class="m-0 m-b-16 f-s-14 f-w-400 text-center">Sorry but the page or resource you were trying to reach is forbidden.</p>
    <button class="btn-blue text-uppercase" mat-flat-button type="button" type="button" (click)='goTOBack()'>
      Go back
    </button>
  </div>
</div>
