<button class="close-btn border-0 border-radius align-items-center justify-content-center trans" aria-label="close icon" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="text-center custom-scrollbar">
  <div class="heading-content">
    <ng-container *ngIf="dailogData">
      <ng-container *ngIf="dailogData.detail"> {{ dailogData.detail }} </ng-container>
      <strong *ngIf="dailogData.highLightedText"> {{ dailogData.highLightedText }} </strong>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="secondary-btn text-uppercase" type="button" mat-dialog-close>
    {{dailogData.cancelText || 'Cancel'}}
  </button>
  <button class="primary-btn text-uppercase ml-2" type="button" (click)="onConfirmation()">
    {{dailogData.okText || 'Ok'}}
  </button>
</mat-dialog-actions>
