<button class="close-btn" mat-icon-button aria-label="close icon" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <p class="text-center">
    <ng-container *ngIf="dailogData">
      <ng-container *ngIf="dailogData.detail"> {{ dailogData.detail }} </ng-container>
      <strong *ngIf="dailogData.highLightedText"> {{ dailogData.highLightedText }} </strong>
    </ng-container>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="secondary-btn text-uppercase" type="button" (click)="cancel()">
    {{dailogData.cancelText || 'Cancel'}}
  </button>
  <button class="primary-btn text-uppercase ml-2" type="submit">
    {{dailogData.okText || 'Accept'}}
  </button>
</mat-dialog-actions>
