<div class="p-relative p-t-32">
  <button class="close-btn" mat-icon-button aria-label="close icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <p class="m-0 m-b-32">
    <ng-container *ngIf="dailogData">
      <ng-container *ngIf="dailogData.detail"> {{ dailogData.detail }} </ng-container>
      <ng-container *ngIf="dailogData.highLightedText"> <strong> {{ dailogData.highLightedText }} </strong> </ng-container>
    </ng-container>
  </p>
  <div class="btn-box" fxLayoutAlign="space-between center">
    <button class="cancel-btn text-uppercase" mat-flat-button type="button" (click)="cancel()">
      {{dailogData?.cancelText || 'Cancel'}}
    </button>
    <button class="accept-btn text-uppercase" mat-flat-button type="submit">
      {{dailogData?.okText || 'Accept'}}
    </button>
  </div>
</div>
