@import "responsive";

.table-wrapper {
  overflow: hidden;

  .table-scroll {
    overflow: auto;
  }

  .mat-mdc-header-cell {
    border: 0;
    background: var(--primary);
    color: var(--white);
    white-space: nowrap;
  }

  .mat-mdc-cell {
    border-bottom: 0;
    padding: 8px 16px;
  }

  .action-button {
    button {
      border: 0;
      background: none;
      opacity: 0.85;
      color: var(--primary);

      &:hover {
        opacity: 1;

        &.edit-button {
          color: var(--info);
        }

        &.delete-button {
          color: var(--danger);
        }
      }
    }
  }

  .mat-mdc-paginator {
    border-top: 2px var(--gray-100) solid;

    .mat-mdc-paginator-container {
      justify-content: space-between;
    }
  }

  @include bp(md-max) {
    .mat-mdc-table {
      min-width: inherit;

      .mat-mdc-header-row {
        display: none;
      }

      .mat-mdc-row {
        height: auto;
        display: block;
        border: none;

        .mat-mdc-cell {
          font-size: 14px;
          font-weight: 500;
          border-bottom: 1px solid var(--black-shade-100);
          justify-content: flex-end;
          padding: 8px 16px 8px 47%;
          position: relative;
          color: var(--primary);
          display: flex;
          text-align: right;
          min-height: 44px;
          align-items: center;
          width: 100%;

          &:before {
            content: attr(data-label);
            position: absolute;
            left: 16px;
            top: 50%;
            width: calc(45% - 15px);
            color: var(--gray);
            transform: translateY(-50%);
            text-align: left;
          }

          &:nth-child(even) {
            background: var(--white-100);
          }
        }

        .mat-mdc-cell {
          &:last-child {
            border-bottom-width: 5px;
          }
        }

        &:after {
          display: none;
        }
      }
    }
  }

  .no-data {
    font-size: 15px;
    text-align: center;
  }
}
