@import "responsive";
.form-wrapper {
    min-height: 100vh;
    overflow: hidden;
    .form-main {
        padding: 0 5%;
        .form-info {
            background-color: var(--white);
            max-width: 480px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: auto;
            @include bp(md-max) {
                background: transparent;
                margin: 0 auto;
                .big-title {
                    color: var(--white);
                    font-size: 24px;
                }
            }
            .logo {
                @include bp(md-max) {
                    max-width: 62px;
                    background: var(--white);
                }
                img {
                    max-width: 62px;
                    min-height: 75px;
                    @include bp(md-max) {
                        border: 2px var(--white) solid;
                    }
                }
            }
            .button-wrapper {
                .primary-btn {
                    @include bp(md-max) {
                        background: var(--white);
                        color: var(--primary);
                    }
                }
            }
        }
    }
    .form-left {
        width: 45%;
        @include bp(md-max) {
            width: 100%;
        }
    }
    .form-bg {
        width: 55%;
        padding: 0 50px;
        background: var(--primary);
        @include bp(md-max) {
            width: 100%;
            position: absolute;
            top: 0;
            padding: 0;
            max-width: 100% !important;
            z-index: -1;
        }

        .form-bg-img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            opacity: 0.5;
            @include bp(md-max) {
                opacity: 0.15;
            }
        }
        .welcome-content {
            max-width: 700px;
            padding: 5% 2%;
            background: var(--light-100);
            border-radius: 10px;
            z-index: 1;
            @include bp(md-max) {
                display: none;
            }
            .big-title {
                font-size: 40px;
                line-height: 46px;
                strong {
                    color: var(--secondary);
                }
            }
        }
    }
}
@include bp(md-max) {
    a {
        color: var(--white);
    }
}