@import "responsive";

.form-field {
    margin-bottom: 25px;
    .mat-mdc-form-field {
        width: 100%;
        .mdc-text-field--outlined {
            .mdc-notched-outline__leading,
            .mdc-notched-outline__notch,
            .mdc-notched-outline__trailing {
                border-color: var(--gray);
            }
            .mdc-floating-label {
                color: var(--gray);
            }
            &:hover {
                .mdc-notched-outline {
                    .mdc-notched-outline__leading,
                    .mdc-notched-outline__notch,
                    .mdc-notched-outline__trailing {
                        border-color: var(--primary);
                    }
                }
                .mdc-floating-label {
                    color: var(--primary);
                }
            }
        }
        &.mat-focused {
            .mdc-notched-outline {
                .mdc-notched-outline__leading,
                .mdc-notched-outline__notch,
                .mdc-notched-outline__trailing {
                    border-color: var(--primary);
                }
            }
            .mdc-floating-label {
                color: var(--primary);
            }
        }
        &.mat-form-field-invalid {
            .mdc-text-field--outlined {
                .mdc-notched-outline__leading,
                .mdc-notched-outline__notch,
                .mdc-notched-outline__trailing {
                    border-color: var(--danger);
                }
            }
            .mdc-floating-label {
                color: var(--danger);
            }
        }
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
}
