@import "responsive";

.form-field {
    margin-bottom: 25px;
    .mat-mdc-form-field {
        width: 100%;
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
            .mdc-notched-outline {
                & > div {
                    border-color: var(--gray);
                }
            }
            .mdc-floating-label {
                color: var(--gray);
            }
            &:hover:not(.mdc-text-field--focused):not(.mdc-text-field--invalid) {
                .mdc-notched-outline {
                    & > div {
                        border-color: var(--primary);
                        @include bp(md-max) {
                            border-color: var(--white);
                        }
                    }
                }
            }
        }
        .mdc-text-field--focused:not(.mdc-text-field--disabled) {
            .mdc-notched-outline {
                & > div {
                    border-color: var(--primary);
                }
            }
            .mdc-floating-label {
                color: var(--primary);
            }
        }
        @include bp(md-max) {
            .mdc-text-field--outlined:not(.mdc-text-field--disabled),
            .mdc-text-field--focused:not(.mdc-text-field--disabled) {
                .mdc-notched-outline {
                    & > div {
                        border-color: var(--white);
                    }
                }
                .mdc-floating-label {
                    color: var(--white);
                }
            }
            .mdc-text-field__input {
                color: var(--white);
            }
        }
        .mdc-text-field--invalid:not(.mdc-text-field--disabled) {
            .mdc-notched-outline {
                & > div {
                    border-color: var(--danger);
                }
            }
            .mdc-floating-label {
                color: var(--danger);
            }
        }
        .mdc-text-field--disabled {
            .mdc-notched-outline {
                & > div {
                    border-color: var(--black-shade-100);
                    @include bp(md-max) {
                        border-color: var(--gray-300);
                    }
                }
            }
            .mdc-floating-label {
                color: var(--black-shade-300);
                @include bp(md-max) {
                    color: var(--gray-300);
                }
            }
        }
        .mdc-text-field__input {
            color: var(--primary);
        }
    }
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
    .eye-icon {
        background: none;
        padding-right: 16px;
        color: var(--primary);
        @include bp(md-max) {
            color: var(--white);
        }
    }
}
