<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
      <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
    </button>
    <h1>VC-ANGULAR-BOILERPLATE</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/events'"> Events </a>
      <a mat-button [routerLink]="'/profile'"> Profile </a>
      <a mat-button (click)="goToLogout()"> Logout </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
