@import "../../../assets/scss/components/custom-dropdown";
@import "../../../assets/scss/components/responsive";

.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 24px;    
    background: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    height: 70px;
    z-index: 9;
    @include bp(sm-max) {
        position: fixed;
        padding-left: 70px;
        padding-right: 20px;
    }
    .user-menu {
        .user-name {
            background: none;
            font-size: 16px;
            color: var(--primary);
            min-width: auto;
            cursor: pointer;
            @include bp(lg-min) {
                &:hover {
                    color: var(--secondary);
                }
            }
            @include bp(sm-max) {
                strong {
                    display: none;
                }
            }
            .user-img-box {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                overflow: hidden;
                .user-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .header-left {
        .logo {
            display: none;
            @include bp(sm-max) {
                display: block;                
                max-width: 45px;
                height: auto;                
            }
        }
    }
}