<mat-drawer-container class="sidebar-wrapper w-100" autosize>
  <mat-drawer #drawer class="sidebar-nav" mode="side" [opened]="isOpended">
    <div class="sidebar-top">
      <mat-icon class="mobile-close position-absolute align-items-center justify-content-center" (click)="drawer.toggle(); removeOverlay()">close</mat-icon>
      <a routerLink="" title="">
        <img class="logo" rel="preload" src="{{CDN_URL}}assets/images/logo.svg" title="" width="68"
          height="82" alt="" />
      </a>
    </div>
    <!-- end -->
    <div class="custom-scrollbar">
      <ul class="sidebar-menu">
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" [routerLink]="'/dashboard'" routerLinkActive="active" title="Dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" [routerLink]="'/events'" routerLinkActive="active" title="Events">
            <mat-icon>event</mat-icon>
            <span>Events</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="sidenav-button d-flex align-items-center justify-content-center position-absolute" (click)="drawer.toggle(); addLayout()">
    <mat-icon>menu</mat-icon>
  </div>
</mat-drawer-container>
