<mat-drawer-container class="sidebar-wrapper" autosize>
  <mat-drawer #drawer class="sidebar-nav" mode="side" [opened]="isOpended">
    <div class="sidebar-top">
      <mat-icon class="mobile-close" (click)="drawer.toggle()">close</mat-icon>
      <a routerLink="" title="{{ 'loginPage.logoTitle' | translate }}">
        <img class="logo" rel="preload" src="{{ baseUrl }}assets/images/logo.svg" title="{{ 'loginPage.logoTitle' | translate }}" width="68"
          height="82" alt="{{ 'loginPage.logoTitle' | translate }}" />
      </a>
    </div>
    <!-- end -->
    <div class="custom-scrollbar">
      <ul class="sidebar-menu">
        <!-- <li class="menu-list">
          <a fxLayout="row" fxLayoutAlign="start center" class="menu-item" (click)="closeSidebar(drawer)" [routerLink]="['/dashboard']" routerLinkActive="active" title="{{ 'sidenav.dashboard' | translate }}">
            <mat-icon>dashboard</mat-icon>
            <span>{{ 'sidenav.dashboard' | translate }}</span>
          </a>
        </li> -->
        <li class="menu-list">
          <a fxLayout="row" fxLayoutAlign="start center" class="menu-item" (click)="closeSidebar(drawer)" [routerLink]="['/general-setting']" routerLinkActive="active" title="{{ 'sidenav.generalSettings' | translate }}">
            <mat-icon>settings</mat-icon>
            <span>{{ 'sidenav.generalSettings' | translate }}</span>
          </a>
        </li>
        <li class="menu-list">
          <a fxLayout="row" fxLayoutAlign="start center" class="menu-item" (click)="closeSidebar(drawer)" [routerLink]="['/category']" routerLinkActive="active" title="{{ 'sidenav.manageCategory' | translate }}">
            <mat-icon>category</mat-icon>
            <span>{{ 'sidenav.manageCategory' | translate }}</span>
          </a>
        </li>
        <li class="menu-list">
          <a fxLayout="row" fxLayoutAlign="start center" class="menu-item" (click)="closeSidebar(drawer)" [routerLink]="['/archives']" routerLinkActive="active" title="{{ 'sidenav.manageArchives' | translate }}">
            <mat-icon>archive</mat-icon>
            <span>{{ 'sidenav.manageArchives' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="sidenav-button" fxLayout="row" fxLayoutAlign="center center" (click)="drawer.toggle()" title="{{ 'sidenav.menuTitleText' | translate }}">
    <mat-icon>menu</mat-icon>
  </div>
</mat-drawer-container>
