<mat-drawer-container class="sidebar-wrapper w-100" autosize>
  <mat-drawer #drawer class="sidebar-nav" mode="side" [opened]="isOpended">
    <div class="sidebar-top">
      <mat-icon class="mobile-close position-absolute align-items-center justify-content-center"
        (click)="drawer.toggle(); removeOverlay()">close</mat-icon>
      <a routerLink="" title="">
        <img class="logo" rel="preload" src="{{CDN_URL}}assets/images/logo.svg" title="" width="68" height="82" alt="" />
      </a>
    </div>
    <!-- end -->
    <div class="custom-scrollbar bg-primary-100">
      <ul class="sidebar-main-navigation-menu sidebar-menu" *ngFor="let item of sidenavData">
        <li class="menu-list">
          <p>{{item.title}}</p>
          <ul>
            <li *ngFor="let child of item.children">
              <a fxLayout="row" class="menu-item d-flex flex-row align-items-center" (click)="closeSidebar(drawer)" [routerLink]="child.url"
                routerLinkActive="active" title="{{child.title}}">
                <mat-icon>{{child.icon}}</mat-icon>
                <span>{{child.title}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- <div class="custom-scrollbar">
      <ul class="sidebar-menu">
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" (click)="closeSidebar(drawer)" [routerLink]="'/dashboard'"
            routerLinkActive="active" [title]="'sidebarPage.dashboardText' | translate">
            <mat-icon>dashboard</mat-icon>
            <span>{{ "sidebarPage.dashboardText" | translate }}</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" (click)="closeSidebar(drawer)" [routerLink]="'/sales-report'"
            routerLinkActive="active" [title]="'sidebarPage.salesReportText' | translate">
            <mat-icon>trending_up</mat-icon>
            <span>{{ "sidebarPage.salesReportText" | translate }}</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" (click)="closeSidebar(drawer)" [routerLink]="'/event'" routerLinkActive="active"
            [title]="'sidebarPage.eventstext' | translate">
            <mat-icon>event</mat-icon>
            <span>{{ "sidebarPage.eventstext" | translate }}</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" (click)="closeSidebar(drawer)" [routerLink]="'/discount'" routerLinkActive="active"
            [title]="'sidebarPage.discountstext' | translate">
            <mat-icon>discount</mat-icon>
            <span>{{ "sidebarPage.discountstext" | translate }}</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-item d-flex align-items-center" (click)="closeSidebar(drawer)" [routerLink]="'/staff'" routerLinkActive="active"
            [title]="'sidebarPage.stafftext' | translate">
            <mat-icon>supervisor_account</mat-icon>
            <span>{{ "sidebarPage.stafftext" | translate }}</span>
          </a>
        </li>
      </ul>
    </div> -->
  </mat-drawer>

  <div class="sidenav-button d-flex align-items-center justify-content-center position-absolute" (click)="drawer.toggle(); addLayout()">
    <mat-icon>menu</mat-icon>
  </div>
</mat-drawer-container>