<div class="form-wrapper h-100 d-flex align-items-center position-relative">
  <div class="form-left">
    <form class="form-main" #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)" novalidate>
      <div class="form-info w-100">
        <div class="logo d-flex">
          <img class="w-auto h-auto" rel="preload" src="{{CDN_URL}}assets/images/logo.svg"
            title="{{ 'resetPasswordPage.logoTitle' | translate }}" width="68" height="82"
            alt="{{ 'resetPasswordPage.logoTitle' | translate }}" />
        </div>
        <div class="big-title mt-2 mb-4">{{ 'resetPasswordPage.forgotPasswordTitle' | translate }}</div>
        <div class="form-field">
          <mat-form-field class="form-input" appearance="outline">
            <mat-label>{{ 'resetPasswordPage.passwordTitle' | translate }}</mat-label>
            <input matInput [type]="passwordToggle ? 'password' : 'text'" name="password" ngModel #password="ngModel" class="form-control"
              [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && password.invalid }" required [minlength]="passwordMinLenght"
              [maxlength]="passwordMaxLenght">
            <button class="eye-icon border-0" mat-icon-button matSuffix type="button" (click)="passwordToggle = !passwordToggle"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordToggle">
              <mat-icon>{{passwordToggle ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="resetPasswordForm.submitted && password.errors" class="error-message">
              <div *ngIf="password.errors['required']">{{ 'resetPasswordPage.passwordIsRequiredErrorText' | translate }}</div>
              <div *ngIf="password.errors['minlength']">{{ 'resetPasswordPage.passwordMinLengthErrorText' | translate }}</div>
              <div *ngIf="password.errors['maxlength']">{{ 'resetPasswordPage.passwordMaxLengthErrorText' | translate }}
              </div>
            </div>
          </mat-form-field>
        </div>

        <div class="form-field mb-0">
          <mat-form-field class="form-input" appearance="outline">
            <mat-label>{{ 'resetPasswordPage.confirmPasswordTitle' | translate }}</mat-label>
            <input matInput [type]="confirmpasswordToggle ? 'password' : 'text'" name="confirmpassword" ngModel #confirmpassword="ngModel"
              class="form-control" [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && confirmpassword.invalid }" required
              [minlength]="passwordMinLenght" [maxlength]="passwordMaxLenght">
            <button class="eye-icon border-0" mat-icon-button matSuffix type="button" (click)="confirmpasswordToggle = !confirmpasswordToggle"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmpasswordToggle">
              <mat-icon>{{confirmpasswordToggle ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="resetPasswordForm.submitted && confirmpassword.errors" class="error-message">
              <div *ngIf="confirmpassword.errors['required']">{{ 'resetPasswordPage.confirmPasswordIsRequiredErrorText' | translate }}</div>
              <div *ngIf="confirmpassword.errors['minlength']">{{ 'resetPasswordPage.confirmPasswordMinLengthErrorText' | translate }}</div>
              <div *ngIf="confirmpassword.errors['maxlength']">{{ 'resetPasswordPage.confirmPasswordMaxLengthErrorText' | translate }}
              </div>
            </div>
          </mat-form-field>
        </div>

        <div class="mt-2 text-end">
          <a class="fw-medium border-bottom-hover position-relative" [routerLink]="['/auth/login']">
            {{ 'resetPasswordPage.LoginText' | translate }}
          </a>
        </div>
        <div class="button-wrapper mt-5">
          <button mat-button class="primary-btn w-100 trans" [disabled]="submitted" [ngClass]="{ 'disabled': submitted }">
            {{ ( submitted ? 'generalError.submittingTitle' : 'generalError.submitTitle' ) | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- end -->
  <div class="form-bg d-lg-flex align-items-center justify-contetnt-center h-100 position-relative">
    <img rel="preload" width="1152" height="1080" class="form-bg-img w-100 h-100" src="{{CDN_URL}}assets/images/login-bg.webp"
      alt="Login background">
    <div class="welcome-content w-100 mx-auto text-center">
      <div class="big-title">
        {{ 'resetPasswordPage.welcomeToText' | translate }} <strong> {{ 'resetPasswordPage.logoTitle' | translate }}</strong>
      </div>
    </div>
  </div>
  <!-- end -->
</div>
