@import "../../../assets/scss/components/forms";

.disabled-class {
    opacity: 0.5;
    background: var(--primary);
    color: var(--white);
    cursor: not-allowed;
    &:hover {
        background: var(--primary);
    }
}
.info-messages {
    font-size: 15px;
    line-height: 20px;
    .info-timer-box {
        color: var(--danger);
    }
    .info-box {
        background: var(--info-100);
        border-radius: 4px;
        color: var(--black-100);
        padding: 10px 15px;
        border: 1px var(--info) dashed;
        font-weight: 500;
    }
}
