@import "../../../assets/scss/components/responsive";
.footer-wrapper {
    top: auto;
    padding: 10px 20px;
    background: var(--primary);
    color: var(--white);
    z-index: 2;
    @include bp(sm-max) {
        // position: static;
        padding: 10px 15px;
        p {
            font-size: 14px;
        }
    }
}
