@import "../../../assets/scss/components/responsive";
.footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    background: var(--primary);
    color: var(--white);
    z-index: 2;
    @include bp(sm-max) {
        position: static;
        padding: 10px 15px;
        p {
            font-size: 14px;
        }
    }    
}
