@import "../components/responsive";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--primary);
    @include bp(sm-max) {
        font-size: 14px;
    }
}
* {
    font-family: var(--primary-font);
    letter-spacing: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    -webkit-overflow-scrolling: touch;
    &:focus {
        outline: none;
    }
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
.trans {
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
a,
button {
    cursor: pointer;
}
a {
    color: var(--primary);
    text-decoration: none;
    @extend .trans;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
.cursor-pointer {
    cursor: pointer;
}
img {
    max-width: 100%;
}
.font-primary {
    color: var(--primary);
}
.font-secondary {
    color: var(--secondary);
}
.big-title {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    color: var(--primary);
    @include bp(sm-max) {
        font-size: 20px;
    }
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
}
.border-bottom-hover {
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        max-width: 0;
        background: var(--primary);
        @extend .trans;
    }
    @include bp(lg-min) {
        &:hover {
            &::after {
                max-width: 100%;
            }
        }
    }
}
.error-message {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    padding: 3px 10px;
    background: var(--danger);
    color: var(--white);
    font-size: 13px;
    line-height: 16px;
    &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: 5px;
        border-left: 7px solid var(--danger);
        border-top: 7px solid transparent;
        border-right: 7px solid transparent;
        transform: rotate(135deg);
    }
}
body {
    .mat-drawer-inner-container {
        overflow: hidden;
    }
    .mat-drawer-content {
        overflow: inherit;
    }
}
