.breadcrumbs {
  position: sticky;
  top: 0;
  color: var(--white);
  background: var(--primary);
  padding: 10px 16px;
  max-height: 45px;
  z-index: 1;
  .heading {
    span {
      font-size: 18px;
    }
  }
  a {
    cursor: pointer;
    color: var(--white);
    &:hover {
      color: var(--secondary);
    }
  }
  .secondary-btn {
    padding: 0 15px;
    line-height: 34px;
    height: 34px;
    &:hover {
      background: var(--white);
      color: var(--primary);
    }
  }
  .breadcrumb-divider {
    color: var(--white);
    margin: 0 8px;
  }
}
