<!-- <div class="example-header">
  <mat-form-field>
    <input matInput  placeholder="Filter">
  </mat-form-field>
</div> -->

<div class="table-wrapper">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'ID'"> {{row.id}} </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'Progress'"> {{row.progress}}% </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'Name'"> {{row.name}} </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" [attr.data-label]="'Color'"> {{row.color}} </mat-cell>
    </ng-container>
  <!-- end -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

