<div>
  <span class=""><mat-icon class="mr-5">event</mat-icon> Events</span>
  <div class="">
    <button mat-button class="" [routerLink]="['/events/add']">
      {{ "eventListPage.addText" | translate }}
    </button>
  </div>
</div>


<div class="">
  <mat-form-field>
    <input matInput placeholder="Filter">
  </mat-form-field>
</div>

<p *ngIf="dataSource"> {{ "eventListPage.totalEventText" | translate }} : {{ dataSource!.filteredData!.length }}</p>

<div class="table-wrapper" *ngIf="dataSource">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "eventListPage.titleText" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.titleText' | translate"> {{row.title}} </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="vertical_banner_image">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "eventListPage.bannerText" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.titleText' | translate"> {{row.vertical_banner_image}} </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="is_published">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "eventListPage.statusText" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.statusText' | translate"> {{row.is_published}} </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "eventListPage.createdDateText" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.createdDateText' | translate"> {{row.created_at}} </mat-cell>
    </ng-container>
    <!-- end -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "eventListPage.actionText" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.data-label]="'eventListPage.actionText' | translate">
        <button class="secondary-text" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button class="secondary-text" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <!-- end -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
</div>
