@import "../../../../assets/scss/components/custom-table";
@import "../../../../assets/scss/components/custom-card";
@import "../../../../assets/scss/components/custom-scrollbar";

.event-list {
    padding: 24px;
}

.breadcrumbs {
    position: sticky;
    top: 0;
    color: var(--white);
    background: var(--primary);
    padding: 10px 16px;
    z-index: 1;
    .heading {
        span {
            font-size: 18px;
        }
    }
    .secondary-btn {
        line-height: 40px;
        height: 40px;
        &:hover {
            background: var(--white);
            color: var(--primary);
        }
    }
}
.page-wrapper {
    padding: 0 24px 30px;
    height: 100%;
    margin: 5px 0;
}
