@import "../../../../assets/scss/components/custom-table";
@import "../../../../assets/scss/components/custom-scrollbar";


.breadcrumbs {
    position: sticky;
    top: 0;
    color: var(--white);
    background: var(--primary);
    padding: 7px 16px;
    z-index: 1;
    .secondary-btn {
        line-height: 40px;
        height: 40px;
        &:hover {
            background: var(--white);
            color: var(--primary);
        }
    }
}
.page-wrapper {
    padding: 0 24px 115px;
    height: 100%;
}